.squareContainer{
    --color-used: #023047;
    border: 2px solid var(--color-used);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 100px;
    justify-content: center;
    color: var(--color-used);
}

.centerTextSquare{
    width: 50%;
}

.valueSquare{
    border: transparent;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
}